<%- include('parts/header') %>

<div class="container py-5">
  <h1>Despre noi</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam placeat
    quasi sapiente. Accusamus incidunt, officiis expedita nam eos quas unde
    laboriosam culpa earum illo tenetur molestiae, possimus odit amet odio
    numquam id quia. Autem, aspernatur aliquid! Sapiente expedita itaque maxime.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum nobis
    fugiat harum voluptatum ut ipsa vero dolor? Voluptatibus animi blanditiis
    ipsum? Sapiente ut quasi architecto iste eos dignissimos quidem! Deleniti.
  </p>
  <p>
    <a
      class="btn btn-dark"
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Citeste mai mult
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quaerat
      repellat adipisci perspiciatis reprehenderit error esse nulla fuga beatae
      cupiditate voluptatibus odit ea exercitationem ab sunt aperiam mollitia.
      Quibusdam, officia!
    </div>
  </div>
</div>
<div class="bg-secondary pt-4">
  <div class="container">
    <h2>Echipa</h2>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="card">
          <div
            class="card-img-top"
            style="
              background-image: url(https://melbourneshred.com.au/wp-content/uploads/2021/04/team-s1-1.jpg);
            "
          ></div>
          <div class="card-body">
            <h5 class="card-title">Ion Ionescu</h5>
            <p class="card-text">CEO</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="card">
          <div
            class="card-img-top"
            style="
              background-image: url(http://www.team.gsamdani.com/wp-content/uploads/2016/05/tm9.jpg);
            "
          ></div>
          <div class="card-body">
            <h5 class="card-title">Ion Ionescu</h5>
            <p class="card-text">CEO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="card">
          <div
            class="card-img-top"
            style="
              background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8R8QqmvD2GHfMgcUODxvVme8Cm6unpEDQ8w&usqp=CAU);
            "
          ></div>
          <div class="card-body">
            <h5 class="card-title">Ion Ionescu</h5>
            <p class="card-text">CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('parts/footer') %>
