<%- include('parts/header') %>

<div class="container py-2">
    <div class="row">
      <div class="col-6">
        <h1>Contact</h1>
        <div class="col-md-6">
         
         Telefon: <a href="tel:9876543">007576543</a>
         <br>
         E-mail: <a href="mailto:Ovi@mysite.com">Ovi@mysite.com</a>
         <br>
         <hr>
         <b>Manager de vanzari:</b>
         <br>
         Ovi Primar<br>
         E-mail: <a href="mailto:Ovi@mysite.com">Ovi@mysite.com</a>
         <br>
         <hr>
         <b>Relatii cu publicul:</b>
         <br>Ovi Presedinte
         <br>
         E-mail: <a href="mailto:Ovi@mysite.com">Ovi@mysite.com</a><br>
           </div>
      </div>         
            <iframe class="col-sm-6" height="500px" id="gmap_canvas" src="https://maps.google.com/maps?q=Romania%20kogalniceanu%20sebes&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
                </div>
            </div>                                    
         </div>
     </div>
 </div>

 <%- include('parts/footer') %>