<%- include('parts/header') %>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div
      class="carousel-item active"
      style="
        background-image: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/clans/35158179/58cad9622d97566c3edb818c2d0505847c729cc9.png);
      "
    ></div>

    <div
      class="carousel-item"
      style="
        background-image: url(https://thumbs.dreamstime.com/b/aces-playing-cards-dices-glowing-neon-red-lights-isolated-black-background-aces-playing-cards-dices-143233431.jpg);
      "
    ></div>
    <div
      class="carousel-item"
      style="
        background-image: url(https://cdn.wallpapersafari.com/68/96/r4PDHR.jpg);
      "
    ></div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="prezentare-generala container py-5 text-center">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
      <h1>Site pentru Digital Marketing</h1>
      <h3>Curs revolutionar</h3>
      <h3 style="font-size: large">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        corporis pariatur eligendi? Suscipit accusantium doloribus vitae cum
        deserunt exercitationem consectetur, dignissimos officiis minus eius
        maxime omnis esse totam molestias quo.
      </h3>

      <button type="button" class="btn btn-dark">Inscrie-te acum!</button>
      <button type="button" class="btn btn-dark">Cere Detalii</button>
    </div>
  </div>
</div>

<div class="caracteristici text-center">
  <div class="container">
    <div class="row py-2">
      <div class="col-1 col-lg-4 col-12 col-md-4 col-sm-12">
        <div class="square-image si-1"></div>
        <h4>Performanta</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          voluptatibus minima pariatur dicta soluta obcaecati similique
          consectetur eos qui quia?
        </p>
      </div>

      <div class="col-2 col-lg-4 col-sm-6 col-md-4 col-12">
        <div class="square-image si-2"></div>
        <h4>Siguranta zilei de maine</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          voluptatibus minima pariatur dicta soluta obcaecati similique
          consectetur eos qui quia?
        </p>
      </div>

      <div class="col-3 col-lg-4 col-sm-6 col-md-4 col-12">
        <div class="square-image si-3"></div>
        <h4>Dublarea venitului</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
          voluptatibus minima pariatur dicta soluta obcaecati similique
          consectetur eos qui quia?
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container">
</p>
<div class="collapse mb-2" id="collapseExample">
  <div class="card card-body">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis asperiores suscipit placeat id, necessitatibus provident veritatis obcaecati optio eveniet fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, adipisci.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cum optio unde? Dolorum quasi sequi similique quaerat. Dignissimos, officiis mollitia.</p>
  </div>
</div>
</div>
<div class="cards" style="background-color: lightgray;" >
<div class="container mb-4" style="padding-top: 20px;" >
<h1 style="background-color: lightgray;">Echipa</h1>
<br>
<div class="card-deck">
<div class="card mb-4">
<img src="https://www.sigconsult.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMExLQnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1dedf2e89d2943383064c2155a81d9d62523858f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTXpBd2VETXdNRHdHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--13f9f2841d25966940bbff9901ca4c90617dc484/3-More-Interview-Questions-Sales-Rep-Should-Prepare-For-800x800.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Manager de vanzari</h5>
  <p class="card-text">Hirotake Arai</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card mb-4">
<img src="https://unitedthemes.com/wp-content/uploads/2018/09/team2.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Ceo</h5>
  <p class="card-text">Alex Zaffaroni</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
<div class="card mb-4">
<img src="https://organicagroindia.com/wp-content/uploads/2020/10/team-member-8.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Traducator</h5>
  <p class="card-text">R. Stanton Avery</p>
  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</div>
</div>
</div>



<%- include('parts/footer') %>
