
<footer class=" py-5 text-center">   
  <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0rw6x1uVjR1DiUKrUQfJFM2gChMur6o9AKg&amp;usqp=CAU" alt="" class="footer-logo">
  </div> 
    <form>
        <label for="al-meu-mail">
      Aboneaza-te la news letter!
     </label>
        <input type="email" placeholder="Adresa de email" name="mail" id="al-meu-mail" required="">
          <button type="button" class="btn btn-dark">Trimite</button>
      <div class="last"> ☠ Toate drepturile rezervate!</div>  
  </form></footer>

</body>
</html>
